html, body {
    display: flex;
    flex-direction: column;
    flex:1;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    /*height:100%;*/
}

.header {
    display: flex;
    background:#1F2937;
    color:#F9FAF8;
    height: auto;
    padding: 16px 100px;
    flex-direction: column;
}

.logo {
    font-size: 24px;
}

.link1, .link2, .link3 {
    color: #E5E7EB;
    padding-left: 16px;
}

.link1 {
    margin-left:auto;
}

.h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 16px;
}

.h2 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top:100px;
    padding-bottom: 100px;
    gap:32px;
}

.split {
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    
}

.left {
    display: flex;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    flex-wrap:wrap;
    justify-content: space-between;
    height: auto;
}

.right {
    display: flex;
    flex:0 0 0%;
    margin-left: auto;
    margin-right: auto;
}

.head-text {
    font-size: 18px;
    color:#bababb;
}

button {
    display: flex;
    background: #3882F6;
    border:3px;
    border-radius: 5px;
    width: 135px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size:18px ;
    color: #F9FAF8;
    margin-top: 8px;
    padding:8px;
}

.s2 {
    display: flex;
    height:400px;
    flex-direction: column;
    margin: 32px;
}

.sri {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 120px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin:0px;
}

.box {
   height: 150px; 
   width: 150px;
   border: 5px solid #3882F6;
   border-radius: 25px;
   margin:0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.subtext {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 150px;
    text-align: center;
    padding-top:8px;
}

.s3 {
    display: flex;
    height: auto;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: space-between;
    align-content: space-between;
    justify-content: center; 
    padding:100px 225px 75px 225px;
}

.quote {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-style: light italic;
    color:#1F2937;
}

.author {
    margin-left: auto;
    font-weight: 900;
}


.call {
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 75px 125px;
    color: white;
}
 
.border {
    display: flex;
    background-color: #3882F6;
    border-radius: 25px;
    margin:0px;
    padding: 50px 75px;
    flex: 1;
    justify-content: space-between;
    align-content: space-between;
    height: 75px;
}

.action {
    font-size: 28px;
    font-weight: 500;
}

.small {
    font-size: 20px;
    font-weight: normal;
    color: #E5E7EB;
}

#but-border {
    border: 3px solid white;
    margin-left: auto;
}


.footer {
    align-items: center;
    padding:24px;
}

